<section id="contact">
    <h2>Contact</h2>
    <div class="grid projects-grid">
        <div class="card" data-aos="fade-up">
            <h3>Téléphone</h3>
            <p>{{ cv.contact.téléphone }}</p>
        </div>
        <div class="card" data-aos="fade-up">
            <h3>Email</h3>
            <p><a href="mailto:{{ cv.contact.email }}">{{ cv.contact.email }}</a></p>
        </div>
        <div class="card" data-aos="fade-up">
            <h3>Adresse</h3>
            <p>{{ cv.contact.adresse }}</p>
        </div>
        <div class="card" data-aos="fade-up">
            <h3>LinkedIn</h3>
            <p><a href="{{ cv.contact.linkedin }}" target="_blank">{{ cv.contact.linkedin }}</a></p>
        </div>
        <div class="card" data-aos="fade-up">
            <h3>GitHub</h3>
            <p><a href="{{ cv.contact.github }}" target="_blank">{{ cv.contact.github }}</a></p>
        </div>
    </div>
</section>