<section id="contact" class="cv-section">
    <h3>Contact</h3>
    <ul>
        <li><strong>Téléphone :</strong> {{ cv.contact.téléphone }}</li>
        <li><strong>Email :</strong> {{ cv.contact.email }}</li>
        <li><strong>Adresse :</strong> {{ cv.contact.adresse }}</li>
        <li><strong>LinkedIn :</strong> <a href="{{ cv.contact.linkedin }}">{{ cv.contact.linkedin }}</a></li>
        <li><strong>GitHub :</strong> <a href="{{ cv.contact.github }}">{{ cv.contact.github }}</a></li>
    </ul>
</section>