<section id="projets">
    <h2>Projets</h2>
    <div class="grid projects-grid">
        {% for projet in cv.projets | sort(attribute='titre') | sort(attribute='année', reverse=True) %}
            <div class="card">
                <h3>{{ projet.titre }} <small>({{ projet.année }})</small></h3>
                <p>{{ projet.description }}</p>
                {% if projet.lien %}
                    <p><a href="{{ projet.lien }}" target="_blank">Voir le projet</a></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>