<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon CV{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <header>
        <h1>Jonathan Gaultier</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}">CV</a></li>
            </ul>
        </nav>
        {% if request.path.startswith('/admin') %}
        <nav>
            <ul>
                <li><a href="{{ url_for('main.admin_conversations') }}">Conversations du Chatbot</a></li>
            </ul>
        </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>