<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon CV{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Jonathan Gaultier</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}">CV</a></li>
                <li><a href="{{ url_for('main.projets') }}">Projets</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>